/* Header and Navigation
====================================*/

.navbar-brand {
  height: 80px;
}

.navbar-brand__brand-name {
  font-family: Norwester, sans-serif;
  color: $brandRedPrimary;
  vertical-align: middle;
}

.navbar-toggle {
  height: 50px;
  margin-top: 15px;
}

@media screen and (min-width: 768px) {
  .navbar-nav {
    padding-top: 15px;
    & li:last-of-type {
      margin-right: 15px;
    }
  }
}

@media screen and (max-width: 767px) {
  .navbar-collapse {
    a {
      background-color: inherit;
      text-align: left;
      border: inherit;
      color: $headerTextColor
    }

    li:not(:last-of-type) {
      border-bottom: 1px solid #eee;
    }
  }
}