/* Header and Navigation
====================================*/

.navbar-brand {
  height: 80px;
}

.navbar-brand__brand-name {
  font-family: Norwester, sans-serif;
  color: $brandRedPrimary;
  vertical-align: middle;
}